@import "material-ui/scaffolding.less";

// This is where you would optionally add your styles.

// Feel free to leverage the styles below in order to implement the header in
// the sidebar.

.logo
{
  cursor: pointer;
  .mui-font-style-headline;
  .mui-text-full-white;
  line-height: @app-bar-height;
  background-color: @primary-1-color;
  padding-left: @desktop-gutter;
  padding-top: 0;
  margin-bottom: @desktop-gutter-mini;
}

@import "material-ui/components.less";

.container-fluid
{
    padding-top: 15px;
    padding-bottom: 15px;
}

html, body
{
  background: @grey-100;
}

.mui-raised-button-container .mui-font-icon::before
{
  vertical-align: middle;
  padding-left: 10px;
}

.pulsate
{
  .pulsate(icon-button-focus-ripple-pulsate);
}

.smaller-icon
{
  transform: scale(.75);
}

.mui-app-bar
{
  display: flex;
}

.app-bar-toolbar
{
  display:flex;
  justify-content: flex-end;
}

.time-wrapper
{
  display:flex;
  justify-content:flex-end;
  flex-grow:1;
}

.time-slider
{
  flex-grow:1;
  margin: 0;
  padding: 20px 24px 20px 24px;
}

.time-slider .mui-input-bar
{
  width:auto;
}

.time-label
{
  .mui-font-style-headline;
  .mui-text-full-white;
  padding-right: 12px;
}
